.signupLink{
    color: #057ffa;
}

.addBtn {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 99;
    background-color: #057ffa !important;
}

.mat-button {
    background: none !important;
}

.mat-mdc-card{
    margin: 10px 0!important;
}

.mdc-card{
    display: block !important;
}

button:focus {
    outline: none !important;
}

.form-control {
    border: none !important;
    border-bottom: 1px solid #80bdff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.form-control:focus {
    border: none !important;
    border-bottom: 1px solid #80bdff !important;
    box-shadow: none !important;
}

.add-task-container {
    padding: 10px 20px;
}

.addTaskBtn {
    background-color: #057ffa !important;
    color: #f5f5f7 !important;
    opacity: 1;
}

form {
    text-align: center;
}

.card{
    display: block !important;
    width: 100%;
}

.body{
    background-color: white;
}

.validationMsg{
    text-align: left;
    color: red;
}

button:disabled,
button[disabled]{
    opacity: 0.65;
}

.passReq ul li{
    color: gray;
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
}

.passReq ul{
    padding-left: 6%;
}

.passReq{
    margin-top: 30px;
}