<div>
  <mat-accordion *ngIf="Todos">
    
      <div [ngClass]="inboxTodo.length ? 'show' : 'hide' ">
        
        <mat-card *ngFor="let todo of inboxTodo; index as i">
          <table width="100%" class="table">
          <tr *ngIf="!todo.complete" class="row col-md-12">
            <td class="col-md-1">
              <mat-checkbox color="primary" (change)="toggleComplete(todo)"></mat-checkbox>
              </td>
            <td class="col-md-7 txt-left"><mat-card-content>{{ todo.name }}</mat-card-content></td>
            <td class="col-md-4 todoDate">{{ todo.date }}</td>
          </tr>
        </table>
        </mat-card>
      
      </div>
      
      <div [ngClass]="completeTodos.length ? 'show' : 'hide' ">
        <h3>Complete Todos</h3>
        
        <mat-card *ngFor="let todo of Todos; index as i">
          <table width="100%" class="table">
          <tr *ngIf="todo.complete">
            <td class="col-md-1">
              <mat-checkbox color="primary" (change)="toggleComplete(todo)"></mat-checkbox>
              </td>
            <td class="col-md-7 txt-left"><mat-card-content>{{ todo.name }}</mat-card-content></td>
            <td class="col-md-4 todoDate">{{ todo.date }}</td>
          </tr>
        </table>
        </mat-card>
      </div>
  </mat-accordion>
</div>

