<mat-toolbar class="bottomNavBar row col-md-12">

  <table width="100%">
    <tr>
      <td><a mat-icon-button [ngClass]="showTask ? 'active' : ''" routerLink="inbox" (click)="showTasks()">
          <mat-icon>check_box</mat-icon>
      </a></td>

      <td>
        <a mat-icon-button [ngClass]="showCalandar ? 'active' : ''" routerLink="today" (click)="showCalandars()">
          <mat-icon>calendar_today</mat-icon>
        </a>
      </td>

      <td>
        <a mat-icon-button [ngClass]="search ? 'active' : ''" routerLink="search" (click)="searchText()">
          <mat-icon>search</mat-icon>
        </a>
      </td>

      <td>
        <a mat-icon-button [ngClass]="profile ? 'active' : ''" routerLink="profile" (click)="showProfile()">
          <mat-icon>person</mat-icon>
        </a>
      </td>
    </tr>
  </table>
</mat-toolbar>