<div class="registerContiner">
  <div class="card">
    <div class="add-task-container">
      <h2 class="txt-center">Sign In</h2>
      <br>
      <div>
        <form class="add-task-container" name="loginUser" [formGroup]="loginUser" (ngSubmit)="Login()">
  
          <div class="form-group">
            <input type="text" class="form-control" id="userEmail" formControlName="userEmail"
              placeholder="Email address" [(ngModel)]="userEmail" (keyup)="validateUserEmail(userEmail)" />
              <p class="validationMsg" *ngIf="invaliduserEmail"> {{ invaliduserEmail }} </p>
          </div>
   
          <div class="form-group">
            <mat-icon class="passwordIcon" *ngIf="passwordIsVisible" (click)="togglePass()">visibility</mat-icon>
            <mat-icon class="passwordIcon" *ngIf="!passwordIsVisible" (click)="togglePass()">visibility_off</mat-icon>
            <input [type]="password" class="form-control" id="userPass" formControlName="userPass" 
            placeholder="Password" [(ngModel)]="userPass" (keyup)="validateUserPass(userPass)" >
            <!-- <span style="float: right;"> -->
              
            <!-- </span> -->
            <p class="validationMsg" *ngIf="invaliduserPass"> {{ invaliduserPass }} </p>
          </div>
    
          <button type="button" class="btn addTaskBtn" type="submit" [disabled]="isActive ? '' : 'disabled'">Login</button>
        </form>
      </div>
    </div>
    <!-- <div class="txt-center" style="padding: 10px;">
      <button class="btn"><img src="../../assets/images/Google logo.png" width="24px" /> Sign in with Google</button>
    </div> -->
    <div class="txt-center" style="padding: 10px;">
      <p>Not a member? <a [routerLink]="['/register']" class="signupLink">Signup Now</a></p>
    </div>
  </div>
</div>