.signupLink{
    color: #057ffa;
}

.addBtn {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 99;
    background-color: #057ffa !important;
}

.mat-button {
    background: none !important;
}

button:focus {
    outline: none !important;
}

.form-control {
    border: none !important;
    border-bottom: 1px solid #80bdff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.form-control:focus {
    border: none !important;
    border-bottom: 1px solid #80bdff !important;
    box-shadow: none !important;
}

.add-task-container {
    padding: 10px 20px;
}

.addTaskBtn {
    background-color: #057ffa !important;
    color: #f5f5f7 !important;
    opacity: 1;
}

form {
    text-align: center;
}

.card{
    display: block !important;
    width: 100%;
}

.body{
    background-color: white;
}

.registerContiner{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.mdc-card{
    width: 90%;
}

.validationMsg{
    text-align: left;
    color: red;
}

button:disabled,
button[disabled]{
    opacity: 0.65;
}
