<div>
  <mat-accordion>
    <mat-card>
      <mat-card-content>
        <div class="mat-typography">
          <h1 class="mt-0 txt-center">Tick Tick</h1>

          <span>
            <h2>Streamline Your Day, Effortlessly</h2>
            <p>Welcome to Tick Tick, the ultimate task management 
              solution designed to simplify your life. Whether you're a busy 
              professional, a student with deadlines, or someone who just 
              wants to stay organized, our app is here to make sure you 
              never miss a beat.
            </p>
          </span>

          <span>
            <h2>Key Features</h2>
        <ul>
            <li><strong>Intuitive Design:</strong> Our user-friendly interface ensures that you can start managing your tasks without any learning curve. The sleek and modern design makes navigation a breeze.</li>
            <li><strong>Customizable Lists:</strong> Tailor your experience by creating personalized lists for work, home, or any other aspect of your life. Stay focused by organizing your tasks the way that suits you best.</li>
            <li><strong>Smart Reminders:</strong> Never forget a deadline again. Our smart reminder system keeps you on track by sending notifications for upcoming tasks, ensuring you're always one step ahead.</li>
            <li><strong>Collaboration Made Easy:</strong> Working on a project with others? Share lists and collaborate seamlessly. Stay connected and boost productivity with shared tasks and real-time updates.</li>
        </ul>
          </span>

          <span>
            <h2>How It Works</h2>
        <ol>
            <li><strong>Create Your Tasks:</strong> Easily add tasks with just a few taps. Include due dates, notes, and priority levels to keep everything in order.</li>
            <li><strong>Organize with Lists:</strong> Categorize your tasks into lists to keep your work, personal life, and hobbies separate yet easily accessible.</li>
            <li><strong>Set Reminders:</strong> Never miss a deadline again. Set reminders for your tasks and get notified when it's time to take action.</li>
            <li><strong>Stay in Sync:</strong> Access your tasks from anywhere. Whether you're on your phone, tablet, or computer, [Your Todo App Name] keeps you in sync across all devices.</li>
        </ol>
          </span>

          <span>
            <h2>Why Choose Tick Tick?</h2>
        <ul>
            <li><strong>Efficiency:</strong> Streamline your tasks and boost your productivity.</li>
            <li><strong>Flexibility:</strong> Customize your experience to fit your unique needs.</li>
            <li><strong>Collaboration:</strong> Stay connected with friends, family, or colleagues with shared lists.</li>
            <li><strong>Reliability:</strong> Trust in a robust and secure task management solution.</li>
        </ul>
          </span>
        </div>       
      </mat-card-content>
    </mat-card>
  </mat-accordion>
</div>