.mat-mdc-card {
    margin: 10px 0 !important;
}

.table{
    margin-bottom: 0px !important;
}

.blueColor{
    color : #057ffa;
}

mat-icon{
    color: #057ffa;
}

table.userDetailsTable{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin: unset;
}

.userDetailsTable td{
    padding: 10px;
}

.userDetailsTable td p{

        margin: revert;
}

.userDetailsTable tr{
    padding: 10px 0 !important;
}

.pd20{
    padding: 20px 0;
}

.bottomBorder{
    border-bottom: 1px solid #dcdcdc;
}

.logoutBtn {
    background-color: #057ffa !important;
    color: #f5f5f7 !important;
    opacity: 1;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.bottomSheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.bottomSheet.open {
    max-height: 180px;
    height: 100%;
    padding: 10px;
    z-index: 99;
}

.show-details-container {
    padding: 10px 0;
}

.passwordIcon{
    color: #057ffa !important;
    position: absolute;
    right: 2%;
}