<div>
  <mat-accordion>

    <div [ngClass]="isLoggedIn ? 'show' : 'hide' ">

      <mat-card>
        <table width="100%" class="table">
          <tr class="row col-md-12">
            <td width="30%" style="padding: 10px;">
              <img src="{{imgSrc}}" alt="" (click)="showOptions()" style="border-radius: 50%;">
            </td>
            <td width="70%">
              <h1 class="blueColor" style="padding: 0 30px;">Hi {{ currentUser.name }}</h1>
            </td>
          </tr>
        </table>
      </mat-card>

      <mat-card class="pd20">
        <table width="60%" class="table userDetailsTable">

          <tr class="row col-md-12">
            <td colspan="2">
              <h2 class="blueColor">User Details :</h2>
            </td>
          </tr>

          <tr class="row col-md-12 bottomBorder">
            <td width="30%">
              <mat-icon>person</mat-icon>
            </td>
            <td width="70%">
              <p>{{ currentUser.name }}</p>
            </td>
          </tr>

          <tr class="row col-md-12 bottomBorder">
            <td width="30%">
              <mat-icon>phone_iphone</mat-icon>
            </td>
            <td width="70%">
              <p>+91 {{ currentUser.phone }}</p>
            </td>
          </tr>

          <tr class="row col-md-12 bottomBorder">
            <td width="30%">
              <mat-icon>mail</mat-icon>
            </td>
            <td width="70%">
              <p>{{ currentUser.email }}</p>
            </td>
          </tr>

          <tr class="row col-md-12">
            <td width="30%">
              <mat-icon>password</mat-icon>
            </td>
            <td width="70%">
              <mat-icon class="passwordIcon" *ngIf="passwordIsVisible" (click)="togglePass()">visibility</mat-icon>
              <mat-icon class="passwordIcon" *ngIf="!passwordIsVisible" (click)="togglePass()">visibility_off</mat-icon>
              <input [type]="password" name="" id="" value="{{currentUser.password}}" style="border: 0px;">
            </td>
          </tr>
          <tr class="row col-md-12">
            <td colspan="2" class="txt-center">
              <button class="btn logoutBtn" (click)="logout()">Logout</button>
            </td>
          </tr>
        </table>
      </mat-card>

    </div>

    <div [ngClass]="isLoggedIn ? 'hide' : 'show' " class="txt-center">
      <img src="../../assets/images/Add tasks-pana.svg" width="60%" />
    </div>



    <!-- bottom sheet -->

    <div class="bottomSheet" ngClass="{{showDetails ? 'open' : ''}}" #bottomSheet>
      <div class="show-details-container">
        <div class="txt-right">
          <mat-icon (click)="showDetails = false">expand_more</mat-icon>
        </div>
        <div class="container">
          <p style="display: flex;padding: 10px 0; line-height: 2.1;">
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
              accept="image/*" />
            <mat-icon (click)="openFileInput()" #fileInput> add_a_photo </mat-icon>
            <span style="margin-left: 5%;">New Profile Picture</span>
          </p>

          <p style="display: flex;
          line-height: 2.1;padding: 10px 0;">
            <mat-icon (click)="deleteProfile()"> delete </mat-icon>
            <span style="margin-left: 5%;">Delete Profile Picture</span>
          </p>
        </div>
      </div>
    </div>
  </mat-accordion>
  <div>
  </div>
</div>