/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to bottom, #f1f2f3 0%, #f2f2f2);
}

.mat-drawer-container {
  background-image: linear-gradient(to bottom, #f1f2f3 0%, #f2f2f2);
  position:unset !important;
  overflow: auto !important;
  height: 96vh !important;
  padding-bottom: 20% !important;
}

.mat-drawer-content::-webkit-scrollbar {
  display: none !important;
}

.mat-drawer-content {
  padding: 0px 15px;
}

.navbar-color {
  color: white;
}

.no-border {
  border-radius: 0px;
}

.toolbar-color {
  color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.v-center {
  margin-top: auto;
  margin-bottom: auto;
}

.txt-bold {
  font-weight: bold;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.mat-mdc-dialog-container .mdc-dialog__content{
  display: flex !important;
  align-items: center !important;
}