<div class="registerContiner">
  <div class="card">
    <div class="add-task-container">
      <h2 class="txt-center">Sign Up</h2>
      <br>
      <div>
        <form class="add-task-container" name="registerUser" [formGroup]="registerUser" 
        (ngSubmit)="Register()">
  
          <div class="form-group">
            <input type="text" class="form-control" id="userName" formControlName="userName" [(ngModel)]="userName"
              placeholder="Name" (keyup)="validateUserName(userName)"/>

              <p class="validationMsg" *ngIf="invaliduserName"> {{ invaliduserName }} </p>
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" id="userEmail" formControlName="userEmail"
              placeholder="Email address" [(ngModel)]="userEmail" (keyup)="validateUserEmail(userEmail)" />

              <p class="validationMsg" *ngIf="invaliduserEmail"> {{ invaliduserEmail }} </p>
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" id="userPhone" formControlName="userPhone"
              placeholder="Phone Number" [(ngModel)]="userPhone" (keyup)="validateUserPhone(userPhone)" />

              <p class="validationMsg" *ngIf="invaliduserPhone"> {{ invaliduserPhone }} </p>
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" id="userPass" formControlName="userPass" 
            placeholder="Password" [(ngModel)]="userPass" (keyup)="validateUserPass(userPass)" />

            <p class="validationMsg" *ngIf="invaliduserPass"> {{ invaliduserPass }} </p>

          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" id="userconfPass" formControlName="userconfPass"
              placeholder="Confirm Password" [(ngModel)]="userconfPass" (keyup)="validateUserconfPass(userPass, userconfPass)" />

              <p class="validationMsg" *ngIf="invaliduserconfPass"> {{ invaliduserconfPass }} </p>

          </div>
  
          <button type="button" class="btn addTaskBtn" type="submit" [disabled]="isActive ? '' : 'disabled' ">Create Account</button>
        </form>
      </div>
    </div>
    <div class="txt-center" style="padding: 10px;">
      <button class="btn"><img src="../../assets/images/Google logo.png" width="24px" /> Sign up with Google</button>
    </div>

    <div class="txt-center" style="padding: 10px;">
      <p>Already have an account? <a [routerLink]="['/login']" class="signupLink">Signin Now</a></p>
    </div>
  </div>
</div>